:root {
    --greenBlue-color: #2A9D8F;
    --tintedWhite-color: #fbf7e9;
    --navy-color: #264653;
    --orange-color: #E76F51;
    
}

#page {
    display: flex;
}

th {
    width: 200px;
    height: 50px;
    border: 1px solid;
    /* This is for making text unhiglightable */
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

body {
    background-color: var(--tintedWhite-color);
    font-family: 'Roboto', sans-serif;
}

#inputContainer {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    height: 150px;
}

.RHS {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    width: 50%;
}

.timeslot {
    width: 203.98px;
    height: 53.98px;
    position: absolute;
    resize: vertical;
    overflow: auto;
    text-align: center;
    opacity: 0.9;
    overflow: hidden;
    /* This is for making text unhiglightable */
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.slotHeader {
    opacity: 1;
    height: 5px;
    cursor: move;
}

.slotBreak {
    background-color: var(--greenBlue-color);
    color: white;
}

.slotWork {
    background-color: var(--orange-color);
    color: white;
}

.slotOther {
    background-color: var(--navy-color);
    color: white;
}

